<br><br><br><br><br><br><br><br>

<html>
<head>
<title>Ayuda</title>
</head>
<body>
     

Este software sirve para tener un control de las diferentes novedades que se presentan en el área de salud ocupacional  como: accidente, incidente, enfermedades, incapacidad y riesgo.<br>

La aplicación es para la web, por lo tanto podrás ingresar a ella a través de una Url o dirección  de internet, por seguridad sino esta registrado deberá hacerlo y luego podrá entrar ingresando el correo y la contraseña, luego encontrará un tutorial que le dará más claridad acerca del uso de la aplicación.<br>


Una ves dentro, encontrarás unos pasos a seguir para mayor facilidad de entender el manejo de la aplicación, a su ves te encontrarás con un buscador, un botón de cerrar sesión y unos módulos que constan de varias funcionalidades como son: <br>


<h3>Módulos:</h3><br>
1.Inicio: te mandara a un tutorial donde te dara un pasos para navegar a traves de esta aplicación.<br>

2.Funcionario: aquí podrás registrar, ver, eliminar y actualizar los diferentes funcionarios que hayan en la entidad.<br>
Buscador: te permitirá buscar la información guardada referente a los funcionarios<br>  

3. Novedad: aquí podas registrar las diferentes novedades que se presentan en el área de salud ocupacional  como: accidente, incidente, enfermedades, incapacidad y riesgo, para esto tendrás la opción de elegir  un formularios de acuerdo a la novedad que vayas a registrar, también podrás consultarlas indicando la fecha.<br>


4.Cronograma:aquí podrás registrar, ver, eliminar y actualizar las diferentes salidas que se presenten para esto tendrás un formulario para llenar con datos requeridos.<br>

5.Estadística: aquí podrás ver las diferente estadísticas trimestralmente de las diferentes novedades que se presenten y posterior a eso si deseas imprimirlo lo podrás hacer.<br>

6.Seguridad: aquí podrás modificar un rol asignado a un funcionario y deshabilitarlo o habilitarlo de acuerdo al estado que tenga, también harás el cambio de clave si así lo deseas.<br>

7.Ayuda: te servirá para saber la funcionalidad del software y para esto tendrás un manual.<br>


8.Cierre de sesión: te permitirá salir de la aplicación y te mandara a la pagina por donde ingresaste.<br>


</body>
</html> 

