<br><br><br><br><br><br>

<h1>Lista accidentes</h1>

<div class="formulario">

<table>
  <thead>
    <tr>
      <th>Nombre del diligenciador</th>
      <th>Documento</th>
      <th>Tipo de Doc</th>
      <th>Tipo de vinculacion</th>
      <th>Razon social</th>
      <th>Direccion sede principal</th>
      <th>Direccion reportada</th>
      <th>Telefono reportado</th>
      <th>Actividad economica sede principal</th>
      <th>Codigo</th>
      <th>Telefono sede principal</th>
      <th>Fax sede principal</th>
      <th>Email sede principal</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Zona</th>
      <th>Actividad economica centro trabajo</th>
      <th>Direccion centro trabajo</th>
      <th>Telefono ct</th>
      <th>Fax ct</th>
      <th>Email ct</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Zona</th>
      <th>Funcionario</th>
      <th>Fecha del accidente</th>
      <th>Hora del accidente</th>
      <th>Dia de la semana</th>
      <th>Jornada en que sucede</th>
      <th>Realiza su labor</th>
      <th>Ocupacion no habitual</th>
      <th>Tiempo laborado</th>
      <th>Lugar donde ocurrio el at</th>
      <th>Mecanismo o formato del at</th>
      <th>Tipo de lesion</th>
      <th>Sitio</th>
      <th>Tipo de accidente</th>
      <th>Parte del cuerpo afectado</th>
      <th>Agente del accidente</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Zona</th>
      <th>Mortal</th>
      <th>Fecha mortal</th>
      <th>Descripcion del at</th>
      <th>Hubo personas que presenciaron el accidente</th>
      <th>Testigo1</th>
      <th>Tipo de Doc</th>
      <th>Documento</th>
      <th>Testigo2</th>
      <th>Tipo de Doc</th>
      <th>Documento</th>
      <th>Responsable informe</th>
      <th>Tipo de Doc</th>
      <th>Documento</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

   <tbody>

      <%= render @accidentes %> 

   </tbody>
</table>

<br>

</div>

<%= link_to 'Nuevo Accidente', new_accidente_path, remote: true %>
