.formulario{
	width: 650px;
	height: 470px;
	border: 2px black solid;
	overflow-x:scroll;
	margin-top: 10px;

}

.enfermedad{
    width: 540px;
    height: 200px;
    border: 2px black solid;
    overflow-x:scroll;
    margin-top: 10px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    	width: -200%;
}
thead {
    border: 2px solid black;
    border-collapse: collapse;
    color: #00d;

}
